body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:cadetblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stopwatch {
    background:lightgray;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

#display {
    font-size: 2em;
    margin-bottom: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
}

#laps {
    list-style: none;
    padding: 0;
}

#laps li {
    margin: 5px 0;
    background:lightsteelblue;
    padding: 5px;
    border-radius: 5px;
}
